div.planner-date-container{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    width: 31%;
    /* max-height: 300px; */
    border: 1px solid;
    border-radius: 10px;

}

div.planner-date-container-header-row{
    display: flex;
    justify-content: space-around;
    /* border: 1px solid; */
}

div.planner-date-container-header-row div.side-btn{
    margin: 0 5px 0 5px;
}

div.planner-date-container-header-row div.add-task-entity{
    visibility: hidden;;
    margin: 0 2px 0 5px;
}

div.planner-date-container-header-row:hover div.add-task-entity{
    visibility: visible;
}

div.planner-date-container-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0px;
    width: 100%;
}

div.date-card-title{
    /* border: 1px solid; */
    width: 100%;
    text-align: left;
    font-weight: bold;
    /* z-index: 1; */
}

div.date-card-expand-btns i{
    cursor: pointer;
}

div.workload-bar{
    /* border: 1px solid; */
    /* border-radius: 10px; */
    height: 24px;
    width: 345px;
    position: absolute;
    translate: 0%  0%;
    z-index: -1;
}
