div.planner-page i:hover {
    color: rgb(0, 230, 0)
}

div.planner-page-header-2 {
    margin-top:5px;
    margin-bottom: 5px;
    background-color: rgba(48, 48, 100, 0.137);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.planner-page-header-2 span {
    border: 1px solid;
    margin-right: 4px;
    border-radius: 5px;
}

.planner-body{ /*set a local variable that can be use within the the children of the element that has the tag planner-body  */
    --sidebar-width: 395px;
    --calendar-width: 1155px;
}

div.planner-body{
    display: flex;
    border: 1px solid;
    border-radius: 10px;
    min-height: 700px;
    min-width: 1500px;
    width: calc(var(--sidebar-width) + var(--calendar-width));
    background-color: rgb(30, 23, 36);
    padding: 10px 10px 10px 10px;
    user-select: none;
}

div.planner-side-bar{
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    max-width: var(--sidebar-width);
    z-index: 1;
}

div.planner-content{
    /* border: 1px solid; */
    width: max(var(--calendar-width), calc(100% - var(--sidebar-width)));
    height: 100%;
    translate: calc(var(--sidebar-width) + 20px);

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 28px;
    align-content: flex-start;
    z-index: 0;
}