div.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid; */
    position: relative;
    width: 50px;
}

div.dropbtn-content{
    display: none;
    position: absolute;
    text-align: left;
    background-color: black;
    /* border: 1px solid; */
    width: 140px;
    z-index: 1;
    translate: 0% 52%;
}

div.dropdown:hover .dropbtn-content {display: block;}


div.dropbtn-content div:hover {
    background-color: rgba(177, 177, 177, 0.616);
    cursor: pointer;
    border: 1px solid;
}