div.header-overlay button{
    background: none;
    border: none;
    font-size: 0.9rem;
}

div.header-overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(48, 48, 100, 0.39);
    border-radius: 10px;
    /* border: 1px solid; */
}

div.clock{
    /* border-bottom: 1px solid; */
    width: 200px;
    font-weight:400;
}
