div.homepage-body div.task-row{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    width: 358.831px;
    padding: 0px 0px;
}

div.homepage-body div.task-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 4px;
    height: 15px;
    max-width: 355px;
    width: 321.47px;
    margin: 0px 0px;
}

div.homepage-body .task-row:hover button{
    visibility: visible;
}
div.homepage-body .task-row:hover{
    cursor: pointer;
}
div.homepage-body div.task-content{
    display: flex;
    justify-content: flex-start;
    align-items : center;
    font-size: 0.7rem;
    border-radius: 5px;
    width: 320px;
}

div.homepage-body div.task-description{
    /* border: 1px solid; */
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis; 
    overflow-wrap: break-word; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    padding: 1px 5px;
    text-align: left;
    margin-right: 5px;
    margin-left: 5px;
}

div.homepage-body div.task-row button{
    background: none;
    right:1px;
    font-size: 0.8rem;
    padding: 0px 0px;
    border-radius: 0px;
    margin: 0px;
    visibility: hidden;
}
