div.toolbar{
    display: flex;
    justify-content: space-around;
    margin: 4px 0px;
    background-color: rgba(48, 48, 100, 0.137);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
}

div.toolbar:hover{
    border: 1px solid;
}

div.toolbar button{
    background:none;
}

div.toolbar button:hover {
    border-color: rgba(0, 0, 0, 0);
}

div.toolbar button:focus,
button:focus-visible {
  outline: none;
}