/* form title + field alignment and column order */
div.form-body div.form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
    /* border: 1px solid; */
}

div.form-body div.other-entity-configs {
    display: flex;
    justify-content: space-between;
}

div.form-body div.other-entity-configs input {
    width: 250px; 
}

div.other-entity-configs div.form-left-column {
    margin-right: 5px;
}

/* Form title */
div.form-header .form-title{
    font-weight: 600;
    font-size: larger;
}

div.form-body .field-title{
    font-weight: 600;
}


/* Title and Description fields */
div.form-body textarea{
    background-color: black;
    color: white;
    resize: none;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
}

div.form-body textarea.entity-description {    
    width: 525px;
    height: 59px;
}

div.form-body textarea.entity-title {    
    width: 525px;
    height: 20px;
    font-size: larger;
}

/* status (btn) field  */
div.form-body div#form-status-field button {
    background: black;
    border: 1px solid rgb(221, 221, 221);
    color: white;
    padding: 4px;
    text-align: left;
    width: 531px;
}

div.form-body div#form-status-field .dropbtn-content {
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    width: 525px;
} 

/* all input tags  */
div.form-body input {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    background-color: black;
    color: white;
}

/* entity query result style */
div#Project-field ol.query-result-list{
    translate: -5px -15px;
    background-color: black;
    border: 1px solid;
    border-radius: 5px;
    width: 250px;
}

div#Project-field ol.query-result-list li {
    color: white;
    border: none;
}

div#Objective-field ol.query-result-list{
    translate: -5px -15px;
    background-color: black;
    border: 1px solid;
    border-radius: 5px;
    width: 250px;
}

div#Objective-field ol.query-result-list li {
    color: white;
    border: none;
}

/* form footer button arrangment */
div.form-body .form-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
    /* border: 1px solid; */
}

div.form-body .form-buttons button{
    margin-left: 5px;
}

/* clear button/dropdown */
div.form-body .form-buttons button.form-clear-btn{
    color: white;
    border: 1px solid black;
}

div.form-body div.form-buttons .dropbtn-content {
    background-color: black;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

div.form-buttons div.form-input-warning{
    visibility:hidden;
    font-size: smaller;
    border: none;
    color: red;
    width: 310px;
    height: 43px;
    margin-right: 20px;
    text-align: center;
    /*enable vertical scrolling */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

div.form-buttons:hover  div.form-input-warning{
    visibility:visible;
}