div.kanban-column {
    width: 220px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: rgb(30, 23, 36);
    min-height: 400px
}

div.kanban-item-overlay {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

div.kanban-column i.quick-add-btn {
    position: relative;
    left: -45px;
    top: 3px;
}